<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="true">

    <springProperty scope="context" name="serverPort" source="server.port"/>
    <!--<springProperty scope="context" name="logPath" source="log.path"/>-->

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%thread][IP:%X{ip}|USER:%X{user}][%-5level %logger{80}] %msg%n</pattern>
        </encoder>
    </appender>

    <substitutionProperty name="log.base" value="/tmp/logs"/>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/stdout_${serverPort}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}/stdout_${serverPort}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>2</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%thread][IP:%X{ip}|USER:%X{user}][%-5level %logger{80}] %msg%n</pattern>
        </encoder>
    </appender>

    <!--生产环境:打印控制台和输出到文件-->

    <logger name="com" level="INFO"/>
    <logger name="com.ct.admin" level="INFO"/>
    <logger name="ch.qos.logback" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="org" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="rollingFile"/>
    </root>


    <!--开发环境:打印控制台-->

    <!--<logger name="com" level="INFO"/>-->
    <!--<logger name="com.ct.admin" level="DEBUG"/>-->
    <!--<logger name="ch.qos.logback" level="DEBUG"/>-->
    <!--<logger name="org.springframework" level="INFO"/>-->
    <!--&lt;!&ndash;<logger name="org.mybatis" level="DEBUG"/>&ndash;&gt;-->
    <!--<logger name="org" level="INFO"/>-->
    <!--<root>-->
    <!--<level value="DEBUG"/>-->
    <!--<appender-ref ref="stdout"/>-->
    <!--</root>-->


    <!--&lt;!&ndash;测试环境:打印控制台&ndash;&gt;-->

    <!--&lt;!&ndash; 打印sql &ndash;&gt;-->
    <!--<logger name="com" level="INFO"/>-->
    <!--<logger name="com.ct.admin" level="INFO"/>-->
    <!--<logger name="ch.qos.logback" level="INFO"/>-->
    <!--<logger name="org.springframework" level="INFO"/>-->
    <!--&lt;!&ndash;   <logger name="org.mybatis" level="INFO"/>&ndash;&gt;-->
    <!--<logger name="org" level="INFO"/>-->
    <!--<root>-->
    <!--<level value="INFO"/>-->
    <!--<appender-ref ref="rollingFile"/>-->
    <!--<appender-ref ref="stdout"/>-->
    <!--</root>-->


</configuration>